Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@LukyanovPA 
LukyanovPA
/
com.pavellukyanov.statify-backand
Private
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Settings
com.pavellukyanov.statify-backand/.gitignore
@LukyanovPA
LukyanovPA Initial commit
Latest commit ef20aa4 on 13 Jun
 History
 1 contributor
36 lines (32 sloc)  435 Bytes

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have no unread notifications